# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
shortenerstress-darwin-amd64

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/server/server        # Compiled Go binary
client/bin/gk-cli        # Compiled Rust binary
client/bin/gk-tui        # Compiled Rust binary
# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode

# Rust
client/target/

# Go
vendor/
cmd/server/server
/bin/

# Universal
.vscode/
.idea/
.DS_Store
*.log
.env
